$theme-colors: (
  'primary': #ea2424,
  // 'secondary': #c1c1c0, 
  'light': #f5f5f5,
  'shade': #3a3a3a,
  'dark': #191919,
  'primary-shade':#fab6b6,
  // 'info': #4062ad,
  // 'white': #fff,
  // 'black': #000,

  // 'success': #1ce1ac,
  // 'warning': #ffbe0b,
  // 'danger': #ff007f,
);

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s ease-in;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.mitrapabrik {
  font-family: "Inria-Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inria-Sans', sans-serif;
}

.rounded-xl {
  border-radius: 30px !important;
  border: 1px solid black !important;
}

$font-size-base: 1rem;
$font-family-sans-serif: "Inria-Sans";

@import '~/node_modules/bootstrap/scss/bootstrap.scss';
@import '~/assets/css/custom.scss';